@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@100..900&family=Fira+Code&family=Montserrat:wght@100..900&display=swap');
/*-- scss:defaults --*/

// * Colors
// * Tailwind: https://tailwindcolor.com
$white:                     hsl(0 0% 100%) !default;
$gray-100:                  hsl(220 14.97% 95.9%) !default;
$gray-200:                  hsl(220 13.57% 91.05%) !default;
$gray-300:                  hsl(216 13.12% 84%) !default;
$gray-400:                  hsl(217.9 11.92% 64.26%) !default;
$gray-500:                  hsl(220.03 10.26% 46.3%) !default;
$gray-600:                  hsl(214.99 15.66% 34.25%) !default;
$gray-700:                  hsl(216.94 21.1% 26.81%) !default;
$gray-800:                  hsl(214.99 30.99% 16.95%) !default;
$gray-900:                  hsl(221 41.69% 11.07%) !default;
$black:                     hsl(224.05, 72.24%, 4.17%) !default;

$blue:                      hsl(224.86 67.28% 33.33%) !default; // blue-900
$blue-alt:                  hsl(225.35 84.1% 48.98%) !default; // blue-700
$blue-dark:                 hsl(226.51 58.74% 21.15%) !default; // blue-950

$slate:                     hsl(228.82 85.13% 5%);
$slate-900:                 hsl(222.34 49.39% 11.3%);

$fushsia:                   hsl(292.61 96.35% 57.51%) !default;

$font-family-sans-serif:      system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$font-family-serif:           "Crimson Pro", serif !default;
$font-family-code:            "Fira Code", monospace;

$toc-font-family:             system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$toc-color:                   $blue;
$toc-font-size:               .9em;

$headings-font-family:        system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-weight:        700 !default;

$posts-font-weight:           400 !default;

$footer-font-family:          system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$footer-font-color:           $gray-100;

// Body
$body-color:                  $black !default;

$link-color:                  $blue-alt !default;
$link-decoration:             none !default;
$link-hover-color:            $blue-alt !default;
$link-hover-decoration:       underline !default;

// Nav bar
$navbar-bg:                   $white;
$navbar-fg:                   $body-color;
$navbar-hl:                   $blue-alt;

// Footer 
$footer-bg:                   $slate !default;

// Code Blocks and Inline
$code-block-bg:               $gray-200 !default;
$code-bg:                     $gray-200 !default;
$code-color:                  $fushsia !default;

// Banner blocks
$title-block-banner:          $white !default;
$content-padding-top:         0em;

/*-- scss:rules --*/

body {
	font-family: $font-family-sans-serif;
	font-weight: 400;
	background-color: $white;
}

h1, h2, h3, h4, h5 {
	font-family: $font-family-sans-serif;
	font-weight: $headings-font-weight;
	font-style: italic;
	color: $body-color;
}
h2, h3, h4, h5 {
	font-weight: normal;
	font-style: italic;
}
h2, h3 {
	font-family: $font-family-sans-serif;
	font-weight: $headings-font-weight;
	font-style: normal;
}

.label-red {
    background-color: $body-color;
}
  
a.badge.badge-red { color: $white;}

.footer {
	border-top: 3px solid;
    padding-top: 50px;
    background-color: $slate;
}
.blockquote {
    font-weight: 400;
    font-style: normal;
    color: $body-color;
    background: $gray-300;
    border-left-width: 0.25rem;
    border-left-color: $gray-400;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

// Header Stuff
.navbar a {
    font-family: $font-family-sans-serif;
    border-bottom: none;
}

.navbar-title {
    font-weight: $headings-font-weight;
}

.btn {
    font-family: $font-family-sans-serif;
    text-align: center;
    padding: 0.8em;
    margin-right: ($spacer * .5);
    margin-top: ($spacer * .5)
}

// Code stuff
// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
    font-family: $font-family-code;
    font-size: 0.775em;
  }
  
  // Slight bottom margin to outputf
  .cell-output {
    margin: 0 0 1em;
  }
  
  // Remove margin on pre in output
  .cell-output pre {
    margin-bottom: 0;
    color: $white;
  }

  #TOC {
    font-family: $toc-font-family;
    padding-bottom: 0.1em;

    .active {
        font-weight: 400;
    }

    #toc-title {
        font-weight: 600;
    }
}

.sidebar nav[role="doc-toc"]>ul li a {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#quarto-margin-sidebar {
    .quarto-listing-category-title {
        font-family: $toc-font-family;
        margin-left: 0.5em;
        font-style: normal;
        font-size: 0.9em;
    }

    .quarto-listing-category {
        font-family: $toc-font-family;
        font-weight: 300;
        font-size: 0.9em;
        line-height: 1.1;
        padding-left: 0.6rem;
        margin-left: 0.5em;
        border-left: 1px solid $gray-200;

        .category {
            padding-bottom: 0.5rem;
        }

        .active {
            font-weight: 400;
            color: $blue-alt;
        }

        .quarto-category-count {
            font-weight: 200;
            font-size: 0.8em;
            color: $gray-700;
        }
    }
}


// Research
.quarto-title-block {
    .quarto-title .quarto-categories {
        padding-bottom: 0;
        flex-wrap: wrap;
        row-gap: 0.4em;
    }


    .project-details {
        background-color: $gray-200;
        padding: 0.75em;
        margin: 1em 0;
        line-height: 1.3;
    }

    .quarto-title-meta-heading.manual {
        margin-top: 2em !important;
    }

    .project-links {
        padding: 0;
        margin-bottom: 0;
    }

    .project-link {
        font-family: $toc-font-family;
        font-size: 0.9em;
        display: inline-block;
        white-space: nowrap;
        padding: 0 1em 0 0;
        font-weight: bold;
    }

}

.back-nav {
    margin-bottom: 1.5em;
}

// Main Research Page
.research {
    .back-nav a {
        color: $blue-alt;
    }
  
    .quarto-title .quarto-categories .quarto-category {
        background-color: $white;
        color: $blue;
        font-size: 0.75em;
        opacity: 1;
        text-transform: lowercase;
    }

    .quarto-title h1 {
        font-size: 1.75em;
        font-weight: $headings-font-weight;
        font-style: normal;
        color: $body-color;
    }
    // Main Research Page categories
    .project-categories {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.4em;
        column-gap: 0.4em;
        margin: 0.5em 0;

        .project-category {
            color: $body-color;
            background-color: $gray-200;
            text-transform: lowercase;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            font-size: .9em;
            font-weight: 400;
            padding: 3px 5px;
            margin: .4em 0;
            display: inline-block;
            letter-spacing: .01em;
            text-decoration:none;
            cursor: pointer;
            a {
                color: $body-color;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}

.project-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        li.project {
            margin-bottom: 2.5em;
            //border-left: 6px solid $grey;

            p {
                margin: 0;
            }
        }
    }

    .project-content {
        padding-left: 0.5em;
        line-height: 1.3;

        .status {
            font-size: 1rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }

    .haiku {
        margin: 0.4rem 0 0rem;
        font-family: $headings-font-family;
        font-weight: 300;
        font-style: italic;
        text-align: right;
        color: $gray-600;
        font-size: 1.1em;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }
    }

    ul.project-links {
        margin-bottom: 0;
    }

    .project-details-listing {
        font-family: $toc-font-family;
        margin-top: 0.8em;
        background-color: $gray-200;
        font-size: 0.9rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }

        .project-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }
        // Details button on main research page
        .details {
            background-color: $gray-500;
            padding-right: 1.5em;
            
            a {
                color: $white;
            }
        }
    }
}

// Research Project List Front Page
.project-list-fp {
    a {
        color: $gray-600;
    }

    a:hover {
        color: $blue-alt;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 1em;

        li.project {
            margin-bottom: 1em;
            //border-left: 6px solid $grey;

            p {
                margin: 0;
            }
        }
    }

    .project-content {
        padding-left: 0.5em;
        line-height: 1.3;

        .status {
            font-size: 1rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }

    ul.project-links {
        margin-bottom: 0;
    }

    .project-details-listing {
        font-family: $toc-font-family;
        //margin-top: 0.8em;
        font-size: 0.9rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }

        .project-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }

        .details {
            padding-right: 1.5em;
        }
    }
}



// * Teaching
.teaching {
    .course-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 3em;
        column-gap: 0.7em;

        .body {
            flex: 1 1 auto;
        }

        .logo {
            flex: 0 0 140px;

            img {
                width: 100%;
            }
        }

        .course-title {
            font-weight: $headings-font-weight;
            font-size: 1.2em;
            margin-bottom: 0.2em;

            a {
                color: $body-color;
                font-weight: $headings-font-weight;
            }
        }
        
        .course-details {
            font-family: $font-family-sans-serif;
            font-weight: 400;
            font-size: 0.9em;
            margin-bottom: 0.3em;
            color: $body-color;
        }

        .course-description {
            font-family: $font-family-sans-serif;
            font-weight: 400;
            font-size: 0.9em;
            margin-bottom: 0.3em;
        }

        .course-role {
            font-weight: 500;
        }

        ul.course-semesters {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                white-space: nowrap;
                color: $body-color;
                background-color: $gray-200;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                font-size: .9em;
                font-weight: 400;
                padding: 3px 5px;
                margin: .4em 0;
                display: inline-block;
                letter-spacing: .01em;

                &.no-link {
                    background-color: $white;
                    border: 1px solid $gray-500;
                }

                a {
                    color: $body-color;
                }

                a:hover {
                    color: $blue-alt;
                }
            }
        }
    }
}
// Teaching Front Page
.teaching-fp {
    .course-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1em;
        column-gap: 0.7em;

        .body {
            flex: 1 1 auto;
        }

        .logo {
            flex: 0 0 140px;

            img {
                width: 100%;
            }
        }

        .course-title {
            font-weight: $posts-font-weight;
            font-size: 1em;
            margin-bottom: 0.2em;

            a {
                color: $body-color;
                font-weight: $posts-font-weight;
            }
        }
        ul.course-semesters {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                white-space: nowrap;
                color: $gray-700;
                background-color: $gray-200;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                font-size: .9em;
                font-weight: 400;
                padding: 3px 5px;
                margin: .4em 0;
                display: inline-block;
                letter-spacing: .01em;

                &.no-link {
                    background-color: $white;
                    border: 1px solid $gray-500;
                }

                a {
                    color: $body-color;
                }
                
                a:hover {
                    color: $blue-alt;
                }
            }
        }
    }
}

// Blog
.blog {
    .blog-entry {
        display: flex;
        flex-direction: row;
        font-family: $posts-font-weight;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .body {
            flex: 1 1 auto;
        }

        .metadata {
            display: inline-flex;
            color: $gray-500;
            flex: 0 0 8%;
        }

        .thumbnail {
            flex: 0 0 25%;

            img {
                width: 100%;
                object-fit: scale-down;
            }
        }

        .title {
            font-size: 1.75em;
            font-weight: $posts-font-weight;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.3;
            margin-bottom: 8px;

            a {
                color: $body-color;
                font-weight: $posts-font-weight;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .description {
            font-family: $font-family-sans-serif;
            font-weight: 400;
            font-size: 0.9em;
            margin-bottom: 16px;
        }

        .continue-reading a {
            color: $body-color;
            margin-top: 16px;
        }

        .continue-reading a:hover {
            color: $blue-alt;
            text-decoration: none;
            border-bottom:2px solid
        }

        .date {
            color: $gray-600;
            font-weight: 400;
            font-size: 0.9em;
            //margin-top: 0.2em;
            text-align: left;
        }

        .post-categories {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.4em;
            column-gap: 0.4em;
            margin: 0.5em 0;

            .post-category {
                //color: $gray-700;
                background-color: $gray-200;
                text-transform: lowercase;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                font-size: .9em;
                font-weight: 400;
                padding: 3px 5px;
                margin: .4em 0;
                display: inline-block;
                letter-spacing: .01em;
                text-decoration:none;
                cursor: pointer;

                a {
                    color: $body-color;
                }
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.blog-post {
    .quarto-title .quarto-categories {
        //margin-top: 1.5em;
        

        .quarto-category {
            color: $body-color !important;
            background-color: $gray-200;
            border-color: $gray-200;
            text-transform: lowercase;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            font-size: .9em;
            font-weight: 400;
            padding: 3px 5px;
            margin: .4em 0;
            display: inline-block;
            letter-spacing: .01em;
            text-decoration:none;
            cursor: pointer;
        }
    }
    
    .quarto-title h1 {
        font-size: 1.75em;
        font-weight: $posts-font-weight;
        font-style: normal;
        margin-bottom: 16px;
        color: $body-color;
    }
    
    .quarto-title .description {
        color: $body-color;
        font-weight: 400;
        font-size: 0.9em;
    }
    
}

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    font-family: $footer-font-family;
    color: $footer-font-color;

    a {
        color: $footer-font-color;
    }

    a:hover {
        text-decoration: underline;
        //color: $orange;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    .fingerprint {
        font-family: $font-family-monospace;
        font-size: 0.8em;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}